html {
    background-color: rgb(66, 13, 118);
}

body {
    color: #030425;
    font-family: Arial, Helvetica;
    margin: 0px 0px 0px 0px;
}

main {
    background-color: rgb(192, 129, 255);
    border: 4px solid black;
    margin: 20px;
}

table {
    background-color: rgb(192, 129, 255);
    margin: 0 auto;
}

tbody tr:nth-child(even) td {
    background-color: #FFFFFF;
}

td {
    background-color: rgb(226, 203, 250);
    border: 1px #042c5a solid;
}

.centered-text {
    text-align: center;
}

.left-text {
    text-align: left;
}

.pagehead {
    color: rgb(254, 255, 168);
    font-family: "Lobster";
}

.links {
    font-family: "Lobster";
    color: rgb(254, 255, 168);
}

.links:hover {
    color: white;
}

.grid-container {
    display: grid;
    grid-template-columns: auto;
    justify-content: center;
}

.whitespace {
    padding: 40px;
}

.center_content {
    display: flex;
    align-items: center;
    justify-content: center;
}

.green_text {
    color: lime;
}

.red_text {
    color: red;
}

.yellow_text {
    color: rgb(254, 255, 168);
}

#version {
    font-family: "Lobster";
    padding: 3px;
}